/******************************/
/****** Général ******/
/******************************/

* {
    font-family: "Raleway", sans-serif;
}

* {

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol,
    ul {
        list-style: none;
    }

}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

p {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

/******************************/
/****** Header ******/
/******************************/

.header {
    display: flex;
    height: 79px;
    width: 100%;
    justify-content: space-between;
}

.header-logo {
    margin:
        30px 50px 30px 0;
}

.header-nav-list {
    display: flex;
}

.header-nav-list>li {
    margin: 0 0 0 68px;
    padding: 14px 0;
    list-style: none;
    border-top: 2px solid transparent;

    &:hover {
        border-top: 2px solid var(--main-color);
        color: var(--main-color);
        transition: ease 800ms;
    }
}

/******************************/
/****** Results ******/
/******************************/

.results {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}

/****** Hero ******/

.hero {}

.hero-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}

.hero-subtitle {
    margin-bottom: 15px;
}

/****** Search ******/

.search-form {
    display: flex;
    gap: 0;
    height: 49px;
}

.search-location-icon {
    display: inline-flex;
    background-color: var(--main-bg-color);
    width: 50px;
    height: 100%;
    border-radius: 15px 0 0 15px;
    justify-content: center;
    align-items: center;
}

.search-location-icon>i {
    color: black;
    font-size: 18px;
}

.search-input {
    border-width: 1px 0 1px 0;
    border-color: var(--main-bg-color);
    border-style: solid;
    height: 100%;
    width: 194px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    /*pour enlever le cadre quand dans le champ*/
    &:focus {
        outline: none;
    }
}

/*pour enlever la croix sur Googel Chrome*/
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.search-button {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    height: 100%;
    width: 132px;
    border: none;
    cursor: pointer;
}

/****** Filtres ******/

.filters {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.filters-title {
    font-size: 18px;
    font-weight: bold;
}

.filter-button {
    display: inline-flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
    padding: 13px 18px;
    background-color: white;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    height: 100%;
    cursor: pointer;

    &:hover {
        background-color: var(--filter-bg-color);
        transition: ease 800ms;
    }
}

/****** Info ******/

.info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-bg-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.info-icon>i {
    font-size: 10px;
}

/******************************/
/****** Sections ******/
/******************************/

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

/****** Sections ***********/


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hébergements ******/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.hebergements-more>span {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/****** Populaires ******/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******************************/
/****** Cards ******/
/******************************/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
    font-size: 14px;

}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.hebergement-card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergement-card img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergement-card-content {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 8px 15px;
}

/****** Activités ******/

.section-activities {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: 30px 0;
}

.activities-title {
    font-size: 22px;
    font-weight: bold;
}

.section-activities .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

.section-activities .card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 439px;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 0 0 8px 0;
}

.section-activities .card-img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.section-activities .card-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
}

/******************************/
/****** Footer ******/
/******************************/

.section-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--main-bg-color);
    margin: 35px 0 0 0;
    padding: 20px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
}

.footer-list {}

.footer-link {
    margin: 0 0 15px 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}